<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Каждую неделю мы выкладываем акутальные новости, которые происходят внутри и снаружи нашего портала">
    <meta name="keywords" content="Репетитор онлайн, репетиторские услуги, математика онлайн, информатика онлайн, физика онлайн, онлайн образование">
    <meta name="author" content="Quve Development">
    <title>Часто задаваемые вопросы ・ Matics.kz</title>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Yeseva+One|Exo+2:300,400,500,600" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/tether.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <% include blocks/metrics %>
    
    <!--[if IE]><link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all"><script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script><![endif]-->
</head>

<body class="landing">

    <% include blocks/nav %>

    <!-- CONTENT-->
    <div class="container main-content">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active">Часто задаваемые вопросы</li>
        </ol>
        <div class="page-header">
            <h1>Часто задаваемые вопросы </h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="faq">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Что такое Matics.kz?
                    </a>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-block">
                    Мatics.kz - первый в Казахстане проект по предоставлению репетиторских услуг онлайн.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Как Вы работаете?
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="card-block">
                    Обучение проходит на интернет платформе с использованием онлайн-доски.<br> Все, что Вам нужно: <strong>интернет</strong>, <strong>телефон</strong> или <strong>компьютер</strong>.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Сколько стоят занятия?
                    </a>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="card-block">
                    Индивидуальное занятие - <strong>1000</strong> тенге/час.<br> Занятие в группе - <strong>750</strong> тенге/час.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      Каким предметам вы обучаете?
                    </a>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="card-block">
                    Математика, Биология, Химия, Физика, Английский язык, занятия для начальных классов, подготовка к ЕНТ и к государственным экзаменам, создание Веб-сайтов и программирование с нуля.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                      Кто будет преподавать? 
                    </a>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="collapseFive">
                  <div class="card-block">
                    Студенты лучших казахстанских вузов (КБТУ, КИМЭП) дадут Вам самую актуальную и интересную информацию о предмете.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      Кто может подать заявку на обучение?
                    </a>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                  <div class="card-block">
                    Подать заявку на обучение может любой ученик 1-11 классов из любого города нашей страны.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                      Как производить оплату?
                    </a>
                  </h5>
                </div>
                <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                  <div class="card-block">
                    Оплата производится ПОСЛЕ каждых 3 уроков. 
                    <br>Мы принимаем наличные, Киви, денежные переводы на карту.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingEight">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                      Как с нами связаться? 
                    </a>
                  </h5>
                </div>
                <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                  <div class="card-block">
                    Вы можете оставить Ваши контактные данные на <a href="/">сайте</a> и мы Вам перезвоним, также можете написать в Instagram Direct (matics.kz) или на WhatsApp (87089574340).
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- FOOTER-->
    <% include blocks/footer %>
    
    <script src="/js/bootstrap.min.js" defer></script>
    <span itemprop="address" style="display: none;">Казахстан, Алматы</span></body>

</html>