<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Matics">
    <meta name="keywords" content="Репетитор онлайн, репетиторские услуги, математика онлайн, информатика онлайн, физика онлайн, онлайн образование">
    <meta name="author" content="Quve Development">
    <meta property="og:title" content="Портал дистанционного обучения - Matics.kz">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://Matics.kz">
    <meta property="og:image" content="http://Matics.kz/images/social-img.png">
    <meta property="og:description" content="Matics - это интерактивный обучающий портал, который предоставляет качественные online курсы по таким предметам как математика, физика и информатика">
    <meta name="google-site-verification" content="LOLYKmx0SperUpZjeUrgyalKYImdCU1mCCUm6ypmVwI">
    <title>Matics.kz</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">

    <script src="/js/jquery.min.js" defer></script>
    <script src="/js/viewportchecker.js" defer></script>
    <!--[if IE]>
    <link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all">
    <script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script><![endif]-->
  </head>
  <body itemscope itemtype="http://schema.org/EducationalOrganization" class="landing">
    <!-- NAVBAR-->
    <nav class="navbar navbar-inverse navbar-fixed-top no-margin">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed">
            <span class="sr-only">Меню</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">
            <img src="/images/logo.svg" alt="Matics" title="Matics - Logo" itemprop="logo">
            <span itemprop="brand">Matics.kz</span>
          </a>
        </div>
        <div id="navbar-collapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/how-to-use" target="_blank">Как проходит обучение</a></li>
            <li><a href="/prices" target="_blank">Расценки и способы оплаты</a></li>
            <li><a href="/news" target="_blank">Новости</a></li>
            <li data-toggle="modal" data-target="#presentModal"><a href="#">Подарок &nbsp;<i aria-hidden="true" style="color: #FFEB3B;" class="fa fa-gift"></i></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/sign-in"><i aria-hidden="true" class="fa fa-lock"> </i>&nbsp; Вход и регистрация</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- CONTENT-->
    <header id="main" class="landing-head">
      <div class="container-fluid">
        <div class="row landing-mac">
          <div class="col-md-6 text-left offset-left-50">
            <div class="owl-carousel owl-carousel-header owl-theme">
              <div class="item">
                <h1>Портал дистанционного образования</h1>
                <p>Matics - это сервис, который специализируется на предоставлении онлайн курсов, при которых для обучающегося подбирается нужный преподаватель, а также составляется индивидуальная программа занятий. Причем репетитор возьмет плату только за свою работу, без учета аренды помещения и транспортных расходов.</p>
                <a href="/sign-up" role="button" class="btn btn-warning btn-lg">Регистрация</a><a href="#" role="button" class="btn btn-warning btn-lg btn-video hidden-xs hidden-sm">Видео-презентация</a>
              </div>
              <div class="item">
                <h2>Почему именно дистанционное образование?</h2>
                <p>Обучаясь в нашем онлайн центре, ребенок не будет привязан к определенному времени встречи с учителем, а Вы, выбирая репетитора для своего ребенка, не будете ограничены географическим положением педагога – и это несомненное преимуществом онлайн обучения.</p>
                <a href="#callBackModal" role="button" data-toggle="modal" data-target="#callBackModal" class="btn btn-warning btn-lg">Заказать консультационный звонок</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center"></div>
        </div>
      </div>
      <div class="presentation-block hidden-xs hidden-sm"></div>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="article-title">Различные образовательные программы</h2>
            <p class="article-p">Мы поможем в освоении таких важных школьных дисциплин как математика, физика, информатика, программирование, химия, биология, а так же многих других - ребятам, обучающимся по стандартной школьной программе. Подберем для ребенка квалифицированного преподавателя, который составит индивидуальный план обучения и начнет работу с ним.</p>
            <a href="/how-to-use" class="btn btn-default">Как проходит обучение</a>
          </div>
          <div class="col-sm-6"><img src="/images/article-img-new-1.svg" alt="Различные образовательные программы" title="Различные образовательные программы" class="img-responsive"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-6"><img src="/images/article-img-new-2.svg" alt="Преподаватели Высшей категории" title="Преподаватели Высшей категории" class="img-responsive"></div>
          <div class="col-sm-6">
            <h2 class="article-title">Преподаватели Высшей категории</h2>
            <p class="article-p">Наши учителя имеют многолетний опыт работы в физико-математических школах, внушительное портфолио собственных профессиональных и научных достижений, впечатляющее количество учеников – призеров международных, республиканских и городских олимпиад. </p>
            <button data-toggle="modal" data-target="#callBackModal" class="btn btn-default">Заказать консультационный звонок</button>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="article-title">Не нужно никуда ехать</h2>
            <p class="article-p">Обучаясь в нашем онлайн центре, ваш ребенок не будет привязан к определенному времени встречи с учителем, а Вы, выбирая репетитора для своего ребенка, не будете ограничены географическим положением педагога – и это несомненное преимуществом онлайн обучения. Для комфортного обучения ребенка, досточно иметь точку доступа в интернет в виде персонального компьютера, планшета и даже обычного смартфона.</p>
            <a href="/faq" class="btn btn-default">Часто задаваемые вопросы</a>
          </div>
          <div class="col-sm-6"><img src="/images/article-img-new-3.svg" alt="Не нужно никуда ехать" title="Не нужно никуда ехать" class="img-responsive"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="article-title">Скриншоты сервиса</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="presentation">
              <div class="block"><img src="/images/presentation-slide-1.png" alt="Скриншот личного кабинета" title="Скриншот личного кабинета" class="img-responsive"></div>
              <div class="block active"><img src="/images/presentation-slide-2.png" alt="Скриншот урока" title="Скриншот урока" class="img-responsive"></div>
              <div class="block"><img src="/images/presentation-slide-3.png" alt="Скриншот страницы подачи заявки" title="Скриншот страницы подачи заявки" class="img-responsive"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <p class="article-p text-center">Мы разработали уникальную систему организации онлайн курсов, которая включает в себя удобный интерфейс, легкий дизайн, а также самое главное - текстовые и видео уроки.</p>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="container animated animated-post">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="article-title">Команда преподавателей</h2>
          </div>
        </div>
        <div class=" owl-carousel owl-carousel-teachers owl-theme">
          <div class="item">
            <div class="landing-comment landing-teacher">
              <div class="text-center">
                <img src="images/teacher-img-2.png" alt="Галия Мрзановна Альжанова" title="Учитель математики, информатики" class="img-circle img-150 inline-block">
                <h4>Галия Мрзановна Альжанова</h4>
                <h6>Учитель математики и информатики</h6>
                <blockquote>
                  <p>Преподает в физмат лицее. Призер республиканской олимпиады среди учителей математики, физики, информатики (2 место). Большой опыт подготовки призеров международных, республиканских олимпиад.</p>
                  <h6>Стаж работы репетитором - 10 лет</h6>
                  <h6>г. Алматы</h6>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="landing-comment landing-teacher">
              <div class="text-center">
                <img src="images/teacher-img-1.png" alt="Василий Васильевич Соколов" title="Учитель физики" class="img-circle img-150 inline-block">
                <h4>Василий Васильевич Соколов</h4>
                <h6>Учитель физики</h6>
                <blockquote>
                  <p>Преподает в физмат школе. Призер Международной олимпиады среди учителей математики, физики, информатики (1 место). Имеет учеников-призеров международных и республиканских олимпиад.</p>
                  <h6>Стаж работы репетитором - 7 лет</h6>
                  <h6>г. Алматы</h6>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="landing-comment landing-teacher">
              <div class="text-center">
                <img src="images/teacher-img-3.png" alt="Анастасия Николаевна Гребенюк" title="Учитель математики" class="img-circle img-150 inline-block">
                <h4>Анастасия Николаевна Гребенюк</h4>
                <h6>Учитель математики</h6>
                <blockquote>
                  <p>Выпускница Специализированной школы-лицея для одаренных детей. Призер Республиканской олимпиады среди студентов технических вузов по начертательной геометрии (2 место).</p>
                  <h6>Стаж работы репетитором - 3 года</h6>
                  <h6>г. Алматы</h6>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="landing-comment landing-teacher">
              <div class="text-center">
                <img src="images/teacher-img-4.jpg" alt="Василий Савельевич Скиба" title="Учитель математики" class="img-circle img-150 inline-block">
                <h4>Василий Савельевич Скиба</h4>
                <h6>Учитель математики</h6>
                <blockquote>
                  <p>Выпускник Специализированного учебно-научного центра при Новосибирском Государственном Университете (Россия), бакалавр прикладной математики и информатикм НГУ. Математик в четвертом поколении.</p>
                  <h6>Стаж работы репетитором - 4 года</h6>
                  <h6>г. Новосибирск</h6>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="landing-comment landing-teacher">
              <div class="text-center">
                <img src="images/teacher-img-5.png" alt="Марина Викторовна Панченко" title="Учитель химии и биологии" class="img-circle img-150 inline-block">
                <h4>Марина Викторовна Панченко</h4>
                <h6>Учитель химии и биологии</h6>
                <blockquote>
                  <p>Преподаватель в физмат лицее. Автор текстов по биологии Алматинского ГЦНТО. Имеет учеников-призеров городских, республиканских и международных олимпиад. Стабильно высокий результат ЕНТ у учеников.</p>
                  <h6>Стаж работы репетитором - 26 лет</h6>
                  <h6>г. Алматы</h6>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="landing-comment landing-teacher">
              <div class="text-center">
                <img src="images/teacher-img-6.png" alt="Марина Викторовна Панченко" title="Учитель химии и биологии" class="img-circle img-150 inline-block">
                <h4>Ирина Борисовна Цхай</h4>
                <h6>Учитель математики</h6>
                <blockquote>
                  <p>Преподаватель математики в физико-математическом лицее. Имеет учеников-призеров городских, районных, международных олимпиад.</p>
                  <h6>Стаж работы репетитором - 20 лет</h6>
                  <h6>г. Алматы</h6>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="article-title">Последние новости</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div onClick="window.location.href='news/iphone-x-den-pervii-mneniya-predprinimatelei-i-pokupatelei'" class="news-card">
              <div style="background-image: url('/uploads/1509918193617-32434.jpeg')" class="news-card-img"></div>
              <div class="news-card-body">
                <h6>06.11.2017</h6>
                <h2>iPhone X, день первый: мнения предпринимателей и покупателей</h2>
                <p>3 ноября Apple запустила продажи iPhone X с «безрамочным» экраном и системой распознавания лица Face ID. Первые российские владельцы новых смартфонов рассказали</p>
              </div>
              <div class="news-card-footer">
                <div class="news-card-footer-author"><img src="/images/editor-img.png" alt="Редактор портала Matics.kz" title="Ольга Сладких"><span>Ольга Сладких</span></div>
                <div class="news-card-button"><a href="news/iphone-x-den-pervii-mneniya-predprinimatelei-i-pokupatelei" class="btn btn-succes btn-block">Перейти к новости <i aria-hidden="true" class="fa fa-angle-right"></i></a></div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div onClick="window.location.href='news/glava-amazon-dzheff-bezos-za-nedelyu-prodal-akcii-kompanii-na-1-mlrd'" class="news-card">
              <div style="background-image: url('/uploads/1509917826177-123.jpeg')" class="news-card-img"></div>
              <div class="news-card-body">
                <h6>06.11.2017</h6>
                <h2>Глава Amazon Джефф Безос за неделю продал акции компании на $1 млрд</h2>
                <p>Основатель и глава ритейлера Amazon Джефф Безоc в начале ноября 2017 года продал акции компании на $1 млрд. Это первая подобная сделка Безоса на такую сумму.</p>
              </div>
              <div class="news-card-footer">
                <div class="news-card-footer-author"><img src="/images/editor-img.png" alt="Редактор портала Matics.kz" title="Ольга Сладких"><span>Ольга Сладких</span></div>
                <div class="news-card-button"><a href="news/glava-amazon-dzheff-bezos-za-nedelyu-prodal-akcii-kompanii-na-1-mlrd" class="btn btn-succes btn-block">Перейти к новости <i aria-hidden="true" class="fa fa-angle-right"></i></a></div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div onClick="window.location.href='news/issledovanie-portret-naibolee-aktivnoi-ukrainskoi-auditorii-telegram'" class="news-card">
              <div style="background-image: url('/uploads/1509916291426-Без названия (1).jpeg')" class="news-card-img"></div>
              <div class="news-card-body">
                <h6>06.11.2017</h6>
                <h2>Исследование: портрет наиболее активной украинской аудитории Telegram</h2>
                <p>Автор канала «SMM в Telegram» Антон Проценко и его коллега Максим Каждан в августе 2017 года выпустили детальное исследование русскоязычной аудитории мессенджер</p>
              </div>
              <div class="news-card-footer">
                <div class="news-card-footer-author"><img src="/images/editor-img.png" alt="Редактор портала Matics.kz" title="Ольга Сладких"><span>Ольга Сладких</span></div>
                <div class="news-card-button"><a href="news/issledovanie-portret-naibolee-aktivnoi-ukrainskoi-auditorii-telegram" class="btn btn-succes btn-block">Перейти к новости <i aria-hidden="true" class="fa fa-angle-right"></i></a></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center"><a href="/news" class="btn btn-succes">Перейти ко всем новостям</a></div>
          </div>
        </div>
      </div>
    </section> -->
    <section class="last">
      <div class="container animated animated-post">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="article-title">Отзывы</h2>
          </div>
        </div>
        <div class="owl-carousel owl-carousel-comments owl-theme">
          <div class="item">
            <div class="landing-comment">
              <div class="landing-comment-body media">
                <div class="media-left"><img src="/images/comment-img-4.png" style="width: 100px;" alt="Отзыв" title="Отзыв" class="img-circle img-thumbnail img-70"></div>
                <div class="media-body">
                  <h4>Ярослав Плотников</h4>
                  <h6>Отец</h6>
                </div>
              </div>
              <blockquote>
                <p><i>Так получилось, что моя семья живет в Алматы, а я работаю в Актау. Александр, мой сын, учится в Специализированном лицее №165 в Алматы. Учеба там сложная, напряженная, однако лицей дает глубокие знания, которые позволяют детям поступать в самые лучшие вузы мира. Дети, обычно занимаются и летом, чтобы не забыть программу и немного поработать на опережение – это позволит начать новый учебный год более комфортно. На лето жена с детьми приезжает ко мне, в Актау. Здесь возможностей учиться у репетиторов такого уровня как в Алматы, нет. Поэтому мы воспользовались услугами учителей сайта Matics.kz и остались очень довольны. Саша постигал физику с прекрасным педагогом - Василием Васильевичем Соколовым. Мы ездили в Атырау, в Алматы, в Астану, но уроки шли своим чередом благодаря удобной дистанционной форме обучения. Спасибо порталу Matics.kz и Василию Васильевичу Соколову. Мы обязательно продолжим сотрудничество с данным обучающим порталом и его учителями.</i></p>
              </blockquote>
            </div>
          </div>
          <div class="item">
            <div class="landing-comment">
              <div class="landing-comment-body media">
                <div class="media-left"><img src="/images/comment-img-2.png" alt="Отзыв" title="Отзыв" class="img-circle img-thumbnail img-70"></div>
                <div class="media-body">
                  <h4>Гулистан Нусипжан</h4>
                  <h6>Мама</h6>
                </div>
              </div>
              <blockquote>
                <p><i>Галия Мрзановна – профессионал своего дела, Учитель с большой буквы и просто наша любимая учительница. Она вела уроки у моих старших детей, а сейчас – у младших. Галия Мрзановна – очень добрый, отзывчивый в меру строгий учитель. Если нужна помощь, то всегда можно к ней обратиться. Она нам помогала в подготовке к поступлению в физмат школу. Огромная благодарность ей как учителю и как человеку. Спасибо Вам, мои дети Вас любят и благодарны за все, что Вы им дали.</i></p>
              </blockquote>
            </div>
          </div>
          <div class="item">
            <div class="landing-comment">
              <div class="landing-comment-body media">
                <div class="media-left"><img src="/images/comment-img-3.png" alt="Отзыв" title="Отзыв" class="img-circle img-thumbnail img-70"></div>
                <div class="media-body">
                  <h4>Алия Абдраимова</h4>
                  <h6>Мама</h6>
                </div>
              </div>
              <blockquote>
                <p><i>Мой сын третий год занимается дополнительно физикой у Василия Васильевича. Мы очень рады, что нам встретился такой замечательный педагог!!! Василий Васильевич моему сыну привил любовь к такой сложной науке, как физика. Он очень опытный, сильный, внимательный, имеющий подход к каждому ребенку преподаватель, знающий свой предмет. Доходчиво объясняет. Благодаря Василию Васильевичу, мой ребенок полюбил физику и после окончания школы мечтает поступить в МФТИ. Побольше бы таких преподавателей! Спасибо Вам, Василий Васильевич, за Ваш высокий профессионализм! </i></p>
              </blockquote>
            </div>
          </div>
          <div class="item">
            <div class="landing-comment">
              <div class="landing-comment-body media">
                <div class="media-left"><img src="/images/comment-img-1.png" alt="Отзыв" title="Отзыв" class="img-circle img-thumbnail img-70"></div>
                <div class="media-body">
                  <h4>Майя Ванькова</h4>
                  <h6>Мама</h6>
                </div>
              </div>
              <blockquote>
                <p><i>Хочу выразить огромную благодарность Анастасии Николаевне за высокий профессиональный подход к моему ребенку – Давиду. За то время, как он начал заниматься уроками математики у Вас, очень заметно улучшение знаний. Понимание предмета в такой сложной науке немаловажно. Любовь моего ребенка к предмету – большая заслуга преподавателя. Огромное Вам спасибо, Анастасия Николаевна, за Ваше внимание, терпение и любовь к детям, где требуется подход к каждому ребенку, который исходит от Вас. Так держать! </i></p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="presentModal" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">&times;</button>
            <h4 class="modal-title">У нас есть подарок для Вас!</h4>
          </div>
          <div class="modal-body">
            <p>Поздравляем Вас с началом нового учебного года и желаем только плодотворных и успешных результатов! А в качестве подарка мы приготовили для Вас календарь от портала Matics.kz, Вы можете скачать и распечатать его в отличном качестве. Успехов!</p>
            <hr>
            <a href="/images/calendar-Matics.jpg" download class="btn btn-success btn-block">Скачать</a>
            <hr>
            <img src="/images/calendar-Matics-min.png" alt="Календарь от портала Matics.kz" title="Календарь от портала Matics.kz">
          </div>
          <div class="modal-footer"> <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button></div>
        </div>
      </div>
    </div>
    <div id="callBackModal" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">&times;</button>
            <h4 class="modal-title">Закажите обратный звонок</h4>
          </div>
          <div class="modal-body">
            <div class="form-group"><label for="name">Как Вас зовут?</label><input type="text" id="name" placeholder="Ваше имя" class="form-control"></div>
            <div class="form-group"><label for="tel">Ваш телефон:</label><input type="text" id="tel" placeholder="Ваш телефон" class="form-control"></div>
            <a href="#" class="btn btn-success btn-block">Заказать</a>
            <hr>
            <p>Оставьте небольшую заявку и мы обязательно перезвоним Вам в течение дня и проконсультируем по интересующим вопросам.</p>
          </div>
          <div class="modal-footer"> <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button></div>
        </div>
      </div>
    </div>
    <!-- FOOTER-->
    <% include blocks/footer %>
    <span itemprop="address" style="display: none;">Казахстан, Алматы</span>
  </body>
</html>