<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Matics">
    <meta name="keywords" content="Репетитор онлайн, репетиторские услуги, математика онлайн, информатика онлайн, физика онлайн, онлайн образование">
    <meta name="author" content="Quve Development">
    <meta property="og:title" content="Портал дистанционного обучения - Matics.kz">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://Matics.kz">
    <meta property="og:image" content="http://Matics.kz/images/social-img.png">
    <meta property="og:description" content="Matics - это интерактивный обучающий портал, который предоставляет качественные online курсы по таким предметам как математика, физика и информатика">
    <meta name="google-site-verification" content="LOLYKmx0SperUpZjeUrgyalKYImdCU1mCCUm6ypmVwI">
    <title>Главная ・ Matics.kz</title>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Yeseva+One|Exo+2:300,400,500,600" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/default.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/tether.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!--[if IE]>
    <link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all">
    <script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script><![endif]-->
  </head>
  <body itemscope itemtype="http://schema.org/EducationalOrganization" class="landing">    
    <header id="main" class="landing-head">
      <nav class="navbar navbar-toggleable-md navbar-transparent">
        <div class="d-flex align-items-center"> 
          <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Меню">
            <span class="navbar-toggler-icon">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
          </button>
          <a class="navbar-brand ml-auto hidden-lg-up" href="/">
            <img src="/images/logo.png" class="d-inline-block align-top" title="Matics - Logo" itemprop="logo">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <a class="navbar-brand navbar-item hidden-lg-down" href="/">
            <img src="/images/logo.png" class="d-inline-block align-top mr-2" title="Matics - Logo" itemprop="logo">
          </a>
          <ul class="navbar-nav ml-auto mx-4 mt-md-1">
            <li class="nav-item navbar-item ml-4">
              <a class="nav-link" href="/news">Новости</a>
            </li>
            <li class="nav-item navbar-item mx-4 hidden-lg-up">
              <a class="nav-link" href="/sign-in">Личный кабинет</a>
            </li>
            <li class="nav-item navbar-item hidden-md-down ml-4">
              <a class="nav-link btn btn-light-blue px-4" href="/sign-in">Личный кабинет &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container pt-5 pt-md-0 mt-5 relative">
        <div class="row">
          <div class="col-lg-7 relative text-center text-lg-left">
            <h1>Готовьтесь к экзаменам с онлайн-репетитором!</h1>
            <p class="hidden-sm-down">Мы поможем в освоении таких важных школьных дисциплин как математика, физика, информатика, программирование, химия, биология, а так же многих других - ребятам, обучающимся по стандартной школьной программе.</p>
            <a href="/sign-up" class="btn btn-success btn-lg mt-2 mt-md-0">Регистрация</a>
          </div>
          <div class="col-lg-5 mt-5 mt-lg-0 hidden-md-down">
            <form onsubmit="return false;" data-toggle="validator" role="form">
              <div class="header-form">
                <h3>Закажите обратный звонок!</h3>
                <div class="form-group">
                  <label for="name">Как Вас зовут?</label>
                  <input type="text" id="name" placeholder="Ваше имя" class="form-control" required>
                  <div class="help-block with-errors form-control-feedback"></div>
                </div>
                <div class="form-group">
                  <label for="phone">Ваш телефон:</label>
                  <input type="text" id="phone" placeholder="Ваш телефон" class="form-control bfh-phone" data-format="+7 (ddd) ddd-dd-dd" required>
                  <div class="help-block with-errors form-control-feedback"></div>
                </div>
                <button class="btn btn-success btn-block" onclick="callBack('header')">Заказать</button>
                <hr>
                <p id="response">Оставьте небольшую заявку и мы обязательно перезвоним Вам в течение дня и проконсультируем по интересующим вопросам.</p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="subjects-block hidden-md-down">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-2 text-center">
              <div class="subject">
                <img src="/images/math.svg" class="img-fluid">
                <h6>Математика</h6>
              </div>
            </div>
            <div class="col-sm-2 text-center">
              <div class="subject">
                <img src="/images/physics.svg" class="img-fluid">
                <h6>Физика</h6>
              </div>
            </div>
            <div class="col-sm-2 text-center">
              <div class="subject">
                <img src="/images/programming.svg" class="img-fluid">
                <h6>Информатика</h6>
              </div>
            </div>
            <div class="col-sm-2 text-center">
              <div class="subject">
                <img src="/images/chemistry.svg" class="img-fluid">
                <h6>Химия</h6>
              </div>
            </div>
            <div class="col-sm-2 text-center">
              <div class="subject">
                <img src="/images/dna.svg" class="img-fluid">
                <h6>Биология</h6>
              </div>
            </div>
            <div class="col-sm-2 text-center">
              <div class="subject">
                <img src="/images/eng.svg" class="img-fluid">
                <h6>Английский</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="article-title">Различные образовательные программы</h2>
            <p class="article-p">Мы поможем в освоении таких важных школьных дисциплин как математика, физика, информатика, программирование, химия, биология, а так же многих других - ребятам, обучающимся по стандартной школьной программе. Подберем для ребенка квалифицированного преподавателя, который составит индивидуальный план обучения и начнет работу с ним.</p>
            <a href="#" class="btn btn-secondary">Наши программы</a>
          </div>
          <div class="col-sm-6 hidden-md-down"><img src="/images/article-img-new-1.svg" alt="Различные образовательные программы" title="Различные образовательные программы" class="img-fluid"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 hidden-md-down"><img src="/images/article-img-new-2.svg" alt="Преподаватели Высшей категории" title="Преподаватели Высшей категории" class="img-fluid"></div>
          <div class="col-md-6">
            <h2 class="article-title">Преподаватели Высшей категории</h2>
            <p class="article-p">Наши учителя имеют многолетний опыт работы в физико-математических школах, внушительное портфолио собственных профессиональных и научных достижений, впечатляющее количество учеников – призеров международных, республиканских и городских олимпиад. </p>
            <button data-toggle="modal" data-target="#callBackModal" class="btn btn-secondary">Заказать консультационный звонок</button>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="article-title">Не нужно никуда ехать</h2>
            <p class="article-p">Обучаясь в нашем онлайн центре, ваш ребенок не будет привязан к определенному времени встречи с учителем, а Вы, выбирая репетитора для своего ребенка, не будете ограничены географическим положением педагога – и это несомненное преимуществом онлайн обучения. Для комфортного обучения ребенка, досточно иметь точку доступа в интернет в виде персонального компьютера, планшета и даже обычного смартфона.</p>
            <a href="/faq" class="btn btn-secondary">Часто задаваемые вопросы</a>
          </div>
          <div class="col-md-6 hidden-md-down"><img src="/images/article-img-new-3.svg" alt="Не нужно никуда ехать" title="Не нужно никуда ехать" class="img-fluid"></div>
        </div>
      </div>
    </section>
    <section class="gradient-bg">
      <div class="container">
        <div class="row d-md-flex">
          <div class="col-md-6">
            <p class="p-0 m-0">Оставьте нам свой E-mail и мы будем информировать Вас о новых событиях портала, новостях, скидках и о многом другом!</p>
          </div>
          <div class="col-md-6 mt-3 mt-md-0 px-0">
            <form onsubmit="return false;" data-toggle="validator" role="form">
              <div class="form-group row m-0 p-0" id="subscribe-response">
                <div class="col-md-8">
                  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="email" placeholder="Ваш E-mail" required>
                  <div class="help-block with-errors form-control-feedback" style="color: #fff"></div>
                </div>
                <div class="col-md-4 mt-3 mt-md-0">
                  <button type="submit" class="btn btn-light-blue" onclick="subscribe()">Подписаться</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="article-title">Скриншоты сервиса</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="presentation">
              <div class="block"><img src="/images/presentation-slide-1.png" alt="Скриншот личного кабинета" title="Скриншот личного кабинета" class="img-fluid"></div>
              <div class="block active"><img src="/images/presentation-slide-2.png" alt="Скриншот урока" title="Скриншот урока" class="img-fluid"></div>
              <div class="block"><img src="/images/presentation-slide-3.png" alt="Скриншот страницы подачи заявки" title="Скриншот страницы подачи заявки" class="img-fluid"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <p class="article-p text-center">Мы разработали уникальную систему организации онлайн курсов, которая включает в себя удобный интерфейс, легкий дизайн, а также самое главное - текстовые и видео уроки.</p>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </section>
    <section class="last">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="article-title">Последние новости</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div onClick="window.location.href='news/iphone-x-den-pervii-mneniya-predprinimatelei-i-pokupatelei'" class="news-card">
              <div style="background-image: url('/uploads/1509918193617-32434.jpeg')" class="news-card-img"></div>
              <div class="news-card-body">
                <h6>06.11.2017</h6>
                <h2>iPhone X, день первый: мнения предпринимателей и покупателей</h2>
                <p>3 ноября Apple запустила продажи iPhone X с «безрамочным» экраном и системой распознавания лица Face ID. Первые российские владельцы новых смартфонов рассказали</p>
              </div>
              <div class="news-card-footer">
                <div class="news-card-footer-author"><img src="/images/editor-img.png" alt="Редактор портала Matics.kz" title="Ольга Сладких"><span>Ольга Сладких</span></div>
                <div class="news-card-button"><a href="news/iphone-x-den-pervii-mneniya-predprinimatelei-i-pokupatelei" class="btn btn-succes btn-block">Перейти к новости <i aria-hidden="true" class="fa fa-angle-right"></i></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div onClick="window.location.href='news/glava-amazon-dzheff-bezos-za-nedelyu-prodal-akcii-kompanii-na-1-mlrd'" class="news-card">
              <div style="background-image: url('/uploads/1509917826177-123.jpeg')" class="news-card-img"></div>
              <div class="news-card-body">
                <h6>06.11.2017</h6>
                <h2>Глава Amazon Джефф Безос за неделю продал акции компании на $1 млрд</h2>
                <p>Основатель и глава ритейлера Amazon Джефф Безоc в начале ноября 2017 года продал акции компании на $1 млрд. Это первая подобная сделка Безоса на такую сумму.</p>
              </div>
              <div class="news-card-footer">
                <div class="news-card-footer-author"><img src="/images/editor-img.png" alt="Редактор портала Matics.kz" title="Ольга Сладких"><span>Ольга Сладких</span></div>
                <div class="news-card-button"><a href="news/glava-amazon-dzheff-bezos-za-nedelyu-prodal-akcii-kompanii-na-1-mlrd" class="btn btn-succes btn-block">Перейти к новости <i aria-hidden="true" class="fa fa-angle-right"></i></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div onClick="window.location.href='news/issledovanie-portret-naibolee-aktivnoi-ukrainskoi-auditorii-telegram'" class="news-card">
              <div style="background-image: url('/uploads/1509916291426-Без названия (1).jpeg')" class="news-card-img"></div>
              <div class="news-card-body">
                <h6>06.11.2017</h6>
                <h2>Исследование: портрет наиболее активной украинской аудитории Telegram</h2>
                <p>Автор канала «SMM в Telegram» Антон Проценко и его коллега Максим Каждан в августе 2017 года выпустили детальное исследование русскоязычной аудитории мессенджер</p>
              </div>
              <div class="news-card-footer">
                <div class="news-card-footer-author"><img src="/images/editor-img.png" alt="Редактор портала Matics.kz" title="Ольга Сладких"><span>Ольга Сладких</span></div>
                <div class="news-card-button"><a href="news/issledovanie-portret-naibolee-aktivnoi-ukrainskoi-auditorii-telegram" class="btn btn-succes btn-block">Перейти к новости <i aria-hidden="true" class="fa fa-angle-right"></i></a></div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <a href="/news" class="btn">Перейти ко всем новостям</a>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </section>

    <div id="callBackModal" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Закажите обратный звонок</h4>
            <button type="button" data-dismiss="modal" class="close">&times;</button>
          </div>
          <div class="modal-body">
            <form onsubmit="return false;" data-toggle="validator" role="form">
              <div class="form-group">
                <label for="name-modal">Как Вас зовут?</label>
                <input type="text" id="name-modal" placeholder="Ваше имя" class="form-control" required>
                <div class="help-block with-errors form-control-feedback"></div>
              </div>
              <div class="form-group">
                <label for="phone-modal">Ваш телефон:</label>
                <input type="text" id="phone-modal" placeholder="Ваш телефон" class="form-control bfh-phone" data-format="+7 (ddd) ddd-dd-dd" required>
                <div class="help-block with-errors form-control-feedback"></div>
              </div>
              <button class="btn btn-success btn-block" onclick="callBack('modal')">Заказать</button>
              <hr>
              <p id="response-modal">Оставьте небольшую заявку и мы обязательно перезвоним Вам в течение дня и проконсультируем по интересующим вопросам.</p>
            </form>
          </div>
          <div class="modal-footer"> <button type="button" data-dismiss="modal" class="btn btn-secondary">Закрыть</button></div>
        </div>
      </div>
    </div>

    <!-- FOOTER-->
    <% include blocks/footer %>

    <script src="/js/validator.js" defer></script>
    <script src="/js/formhelpers.min.js" defer></script>
    <script src="/js/main.js" defer></script>

    <span itemprop="address" style="display: none;">Казахстан, Алматы</span>
  </body>
</html>