<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Каждую неделю мы выкладываем акутальные новости, которые происходят внутри и снаружи нашего портала">
    <meta name="keywords" content="Репетитор онлайн, репетиторские услуги, математика онлайн, информатика онлайн, физика онлайн, онлайн образование">
    <meta name="author" content="Quve Development">
    <title>Последние новости портала Matics.kz</title>
    <!-- Bootstrap Core CSS-->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!--Custom CSS	-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    <!--Scripts-->
    <script src="/js/jquery.min.js"></script>
    <!--[if IE]><link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all"><script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script><![endif]-->
</head>

<body class="landing">
    <!-- NAVBAR-->
    <nav class="navbar navbar-inverse navbar-fixed-top no-margin">
        <div class="container-fluid">
            <div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Меню</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a
                    href="/" class="navbar-brand"><img src="/images/logo.svg" alt="Matics" title="Matics - Logo" itemprop="logo"><span>Matics.kz</span></a>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/prices">Расценки и способы оплаты</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/sign-in"><i aria-hidden="true" class="fa fa-lock"> </i>&nbsp;Вход и регистрация</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- CONTENT-->
    <div class="container main-content">
        <ol class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Новости</li>
        </ol>
        <div class="page-header">
            <h1>Последние новости портала Matics.kz </h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div onClick="window.location.href='news/iphone-x-den-pervii-mneniya-predprinimatelei-i-pokupatelei'" class="news-card">
                    <div style="background-image: url('/uploads/1509918193617-32434.jpeg')" class="news-card-img"></div>
                    <div class="news-card-body">
                        <h6>06.11.2017</h6>
                        <h2>iPhone X, день первый: мнения предпринимателей и покупателей</h2>
                        <p>3 ноября Apple запустила продажи iPhone X с «безрамочным» экраном и системой распознавания лица Face ID. Первые российские владельцы новых смартфонов рассказали</p>
                    </div>
                    <div class="news-card-footer">
                        <div class="news-card-footer-author"><img src="/images/editor-img.png"><span>Ольга Сладких</span></div>
                        <div class="news-card-button"><a href="news/iphone-x-den-pervii-mneniya-predprinimatelei-i-pokupatelei" class="btn btn-succes btn-block">Перейти к новости <i aria-hidden="true" class="fa fa-angle-right"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER-->
    <% include blocks/footer %>
    
    <script src="/js/bootstrap.min.js" defer></script>
    <span itemprop="address" style="display: none;">Казахстан, Алматы</span></body>

</html>