<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Каждую неделю мы выкладываем акутальные новости, которые происходят внутри и снаружи нашего портала">
    <meta name="keywords" content="Репетитор онлайн, репетиторские услуги, математика онлайн, информатика онлайн, физика онлайн, онлайн образование">
    <meta name="author" content="Quve Development">
    <title>Последние новости портала Matics.kz</title>
    <!-- Bootstrap Core CSS-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--Custom CSS	-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    <!--Scripts-->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/tether.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!--[if IE]><link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all"><script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script><![endif]-->
</head>

<body class="landing">
    <!-- NAVBAR-->
    <nav class="navbar navbar-toggleable-md navbar-inverse">
        <div class="container d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Меню">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <a class="navbar-brand navbar-item" href="/">
                  <img src="/images/logo.png" class="d-inline-block align-top mr-2" title="Matics - Logo" itemprop="logo">
                </a>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0 d-flex align-items-center">
                  <li class="nav-item navbar-item ml-4">
                    <a class="nav-link" href="/news">Новости</a>
                  </li>
                  <li class="nav-item navbar-item">
                    <a class="nav-link btn btn-light-blue ml-4 px-4" href="/sign-in">Личный кабинет &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- CONTENT-->
    <div class="container main-content">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active">Новости</li>
        </ol>
        <div class="page-header">
            <h1>Последние новости портала Matics.kz </h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div onClick="window.location.href='news/iphone-x-den-pervii-mneniya-predprinimatelei-i-pokupatelei'" class="news-card">
                    <div style="background-image: url('/uploads/1509918193617-32434.jpeg')" class="news-card-img"></div>
                    <div class="news-card-body">
                        <h6>06.11.2017</h6>
                        <h2>iPhone X, день первый: мнения предпринимателей и покупателей</h2>
                        <p>3 ноября Apple запустила продажи iPhone X с «безрамочным» экраном и системой распознавания лица Face ID. Первые российские владельцы новых смартфонов рассказали</p>
                    </div>
                    <div class="news-card-footer">
                        <div class="news-card-footer-author"><img src="/images/editor-img.png">
                            <span>Дмитрий Ли</span>
                        </div>
                        <div class="news-card-button">
                            <a href="news/iphone-x-den-pervii-mneniya-predprinimatelei-i-pokupatelei" class="btn btn-block">Перейти к новости <i aria-hidden="true" class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER-->
    <% include blocks/footer %>
    
    <script src="/js/bootstrap.min.js" defer></script>
    <span itemprop="address" style="display: none;">Казахстан, Алматы</span></body>

</html>