<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="3 ноября Apple запустила продажи iPhone X с «безрамочным» экраном и системой распознавания лица Face ID. Первые российские владельцы новых смартфонов рассказали">
    <meta name="author" content="Quve Development">
    <meta property="og:title" content="iPhone X, день первый: мнения предпринимателей и покупателей">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://mathlab.kz/news/iphone-x-den-pervii-mneniya-predprinimatelei-i-pokupatelei">
    <meta property="og:image" content="http://mathlab.kz/uploads/1509918193617-32434.jpeg">
    <meta property="og:description" content="3 ноября Apple запустила продажи iPhone X с «безрамочным» экраном и системой распознавания лица Face ID. Первые российские владельцы новых смартфонов рассказали">
    <title>iPhone X, день первый: мнения предпринимателей и покупателей - MathLab.kz</title>
    <!-- Bootstrap Core CSS-->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!--Custom CSS	-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    <!--Scripts-->
    <script src="/js/jquery.min.js"></script>
    <!--[if IE]><link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all"><script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script><![endif]-->
</head>

<body class="landing">
    <!-- NAVBAR-->
    <nav class="navbar navbar-inverse navbar-fixed-top no-margin">
        <div class="container-fluid">
            <div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Меню</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a
                    href="/" class="navbar-brand"><img src="/images/logo.svg" alt="MathLab" title="MathLab - Logo" itemprop="logo"><span>MathLab.kz</span></a>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/prices">Расценки и способы оплаты</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/sign-in"><i aria-hidden="true" class="fa fa-lock"> </i>&nbsp;Вход и регистрация</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- CONTENT-->
    <div class="container main-offset">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/news">Новости</a></li>
                    <li class="active">iPhone X, день первый: мнения предпринимателей и покупателей</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <article class="col-md-8 col-lg-9">
                <h1 class="post-title">iPhone X, день первый: мнения предпринимателей и покупателей</h1>
                <div class="post-visualization">
                    <div style="background-image: url('/uploads/1509918193617-32434.jpeg')" class="post-img"></div>
                    <p>«Десятку» я ждал особенно. Это совершенно новый iPhone в отличии от нескольких предыдущих поколений. OLED-дисплей, его размер и формат, новый способ разблокировки лицом, переход на использование жестов в системе — это появилось именно
                        в десятке. Наконец-то есть ощущение новизны, а не вторичности. Пользоваться удобно — он чуть больше по размерам iPhone 7 или 8, но значительно меньше Plus-версий. Оптическая стабилизация и более светлая оптика во второй камере
                        делает её гораздо полезнее, теперь портреты и просто снимки на двойной модуль можно делать не только в идеально освещённом месте. Разблокировка лицом примерно вдвое медленнее TouchID, но в целом это не создаёт проблем. Поднял телефон,
                        свайпнул вверх по экрану, смартфон разблокировался. Всегда хочется более ёмкую батарею, но пока как держится «десятка» сказать не могу, нужно больше времени для проверки.</p>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h6>Поделитесь новостью с друзьями в соц.сетях и мессенджерах:</h6>
                        <div id="share"></div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="post-date">06.11.2017</div>
                    </div>
                </div>
            </article>
            <aside class="col-md-4 col-lg-3">
                <h3>Вам также может быть это интересно</h3>
                <div class="another-news-block">
                    <h4>iPhone X, день первый: мнения предпринимателей и покупателей</h4>
                    <p>3 ноября Apple запустила продажи iPhone X с «безрамочным» экраном и системой распознавания лица Face ID. Первые российские владельцы новых смартфонов рассказали</p>
                    <a href="#">Читать далее <i aria-hidden="true" class="fa fa-angle-right"></i></a>
                </div>
            </aside>
        </div>
    </div>
    <!-- FOOTER-->
    <% include blocks/footer %>

    <script src="/js/bootstrap.min.js" defer></script><span itemprop="address" style="display: none;">Казахстан, Алматы</span>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-minima.css">
    <script>
        $("#share").jsSocials({
        	showCount: true,
        	showLabel: true,
        	shares: ["vkontakte", "facebook", "twitter", "whatsapp", "googleplus", "telegram"]
        });
    </script>
</body>

</html>