<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 mt-3 mt-md-0">
        <h4>Matics.kz</h4>
        <p>Это сервис, который специализируется на предоставлении онлайн курсов, при которых для обучающегося подбирается нужный преподаватель, а также составляется индивидуальная программа занятий. Причем репетитор возьмет плату только за свою работу, без учета аренды помещения и транспортных расходов.</p>
        <ul class="footer-links">
          <li><a href="https://vk.com/Maticskz" target="_blank"> <i aria-hidden="true" class="fa fa-vk"></i></a></li>
          <li><a href="https://www.facebook.com/Matics.kz/" target="_blank"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/Matics.kz/" target="_blank"><i aria-hidden="true" class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3 mt-3 mt-md-0">
        <h5>Быстрые ссылки</h5>
        <p> <a href="/">Главная</a></p>
        <!-- <p> <a href="/how-to-use">Как проходит обучение</a></p>
        <p> <a href="/prices">Расценки и способы оплаты</a></p> -->
        <p> <a href="/news">Новости</a></p>
        <!-- <p> <a href="/faq">FAQ</a></p> -->
      </div>
      <div class="col-md-3 mt-3 mt-md-0">
        <h5>Контактные данные</h5>
        <h6>Телефоны:</h6>
        <p>+7 (708) 957-43-40</p>
        <h6>E-mail:</h6>
        <p>Matics.kz@gmail.com</p>
      </div>
      <div class="col-md-3 mt-3 mt-md-0">
        <h5>Режим работы</h5>
        <ul class="works-time">
          <li>Понедельник<span>9:00 - 19:00</span></li>
          <li>Вторник<span>9:00 - 19:00</span></li>
          <li>Среда<span>9:00 - 19:00</span></li>
          <li>Четверг<span>9:00 - 19:00</span></li>
          <li>Пятница<span>9:00 - 19:00</span></li>
          <li>Суббота<span>9:00 - 15:00</span></li>
          <li>Воскресенье<span>Выходной</span></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-6 md-text-center">
        <p>Все права защищены 2017 © Matics.kz</p>
      </div>
      <div class="col-md-6 text-right md-text-center">
        <p>Разработка и поддержка сервиса:&nbsp;<a href="http://quve.kz" target="_blank">Quve.kz</a></p>
      </div>
    </div>
  </div>
</footer>