<!DOCTYPE html>
<html lang="ru">
  <head>
    <mata http-equiv="Content-Type" content="text/html; charset=UTF-8"></mata>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel - Matics.kz</title>
    <link rel="shortcut icon" href="/admin/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap Core CSS-->
    <link href="/admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="/admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Custom CSS	-->
    <link href="/admin/css/custom.css" rel="stylesheet">
    <!--Scripts-->
    <script src="/admin/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/admin/js/marked.js"></script>
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div style="border: 0;" class="navbar nav_title">
              <a href="/" class="site_title">
                <span>Admin Panel</span>
              </a>
            </div>
            <div class="clearfix"></div>
            <br>
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Основные</h3>
                <ul class="nav side-menu">
                  <li>
                    <a><i class="fa fa-home"></i> Главная <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/">Сводка</a></li>
                      <li><a href="/teacher-form">Регистрация учителя</a></li>
                      <li><a href="/bids">Заявки на обучение</a></li>
                      <li><a href="/news">Добавление новостей</a></li>
                    </ul>
                  </li>
                  <li>
                    <a><i class="fa fa-table"></i> Списки <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/students">Ученики</a></li>
                      <li><a href="/teachers">Учителя</a></li>
                      <li><a a href="/courses">Курсы</a></li>
                    </ul>
                  </li>
                  <li>
                    <a><i class="fa fa-bar-chart-o"></i> Статистика <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="#">Stat</a></li>
                    </ul>
                  </li>
                  <li>
                    <a><i class="fa fa-clone"></i> Расписание <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="#">Page</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="abs-alerts"></div>
            <div class="sidebar-footer hidden-small"><a data-toggle="tooltip" data-placement="top" title="Settings"><span aria-hidden="true" class="glyphicon glyphicon-cog"></span></a><a data-toggle="tooltip" data-placement="top" title="FullScreen"><span aria-hidden="true" class="glyphicon glyphicon-fullscreen"></span></a><a data-toggle="tooltip" data-placement="top" title="Lock"><span aria-hidden="true" class="glyphicon glyphicon-eye-close"></span></a><a data-toggle="tooltip" data-placement="top" title="Logout" href="#"><span aria-hidden="true" class="glyphicon glyphicon-off"></span></a></div>
          </div>
        </div>
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle"><a id="menu_toggle"><i class="fa fa-bars"></i></a></div>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="javascript:;" data-toggle="dropdown" aria-expanded="false" class="user-profile dropdown-toggle">Admin <span class=" fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;">Помощь</a></li>
                    <li>
                      <form role="form" action="/log-out" method="get"><a onClick="$(this).closest('form').submit(); return false">Выход</a></form>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div role="main" class="right_col">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Добавление новости</h2>
                    <div class="clearfix"></div>
                    <p>Markdown разметка для основного текстового блока новости:</p>
                  </div>
                  <form data-toggle="validator" onsubmit="return false" novalidate="true">
                    <div class="x_content">
                      <div class="form-group">
                        <label for="first-name" class="control-label">Заголовок новости: <span class="required">*</span></label>
                        <input type="text" id="news-title" required minlength="36" class="form-control">
                        <small id="cyrillicTitle" class="form-text text-muted"></small>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="x_content">
                      <div class="form-group">
                        <label class="control-label">Краткое описание новости: <span class="required">*</span></label>
                        <textarea type="number" id="short-description" required minlength="100" maxlength="160" class="short-description form-control"></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="x_content">
                      <div class="form-group">
                        <label class="control-label">Разметка: <span class="required">*</span></label>
                        <textarea type="number" id="markdown-textarea" required class="markdown-textarea form-control"></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="x_content">
                      <div class="form-group">
                        <label for="file" class="control-label">Обложка новости: <span class="required">*</span></label>
                        <div style="width:100%;"></div>
                        <input type="file" name="file" id="file" data-multiple-caption="{count} files selected" class="inputfile form-control"><label for="file" required><span>Выбрать изображение</span></label>
                        <div id="file-error" style="color: #a94442;" class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div style="margin-top:-10px;" class="x_content">
                      <hr>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group"><button type="submit" onclick="publish()" class="btn btn-success">Опубликовать</button></div>
                        </div>
                        <div class="col-md-12">
                          <div id="alerts" class="alerts"></div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Превью новости</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="visualization" class="visualization">
                      <h2>Заголовок h2</h2>
                      <h3>Заголовок h3</h3>
                      <h4>Заголовок h4</h4>
                      <h5>Заголовок h5</h5>
                      <h6>Заголовок h6</h6>
                      <hr>
                      <p>Some text</p>
                      <ol>
                        <li>First ordered list item</li>
                        <li>Another item</li>
                      </ol>
                      <ul>
                        <li>Unordered sub-list.</li>
                      </ul>
                      <a href="https://www.google.com">I'm an inline-style link</a>
                      <blockquote>
                        <p>Blockquotes are very handy in email to emulate reply text. This line is part of the same quote.</p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer>
          <div class="pull-right">Admin Panel - Matics.kz</div>
          <div class="clearfix"></div>
        </footer>
      </div>
    </div>
    <script src="/admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/admin/vendors/moment/min/moment.min.js"></script>
    <script src="/admin/js/validator.js"></script>
    <script src="/admin/js/formhelpers.min.js"></script>
    <script src="/admin/js/custom.min.js"></script>
    <script src="/admin/js/news.js"></script>
    <script src="https://unpkg.com/cyrillic-to-translit-js@latest/CyrillicToTranslit.js" onload="init(module.exports())"></script>
  </body>
</html>